*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h1{
font-size: 45px;
font-weight:900;
}
.coler-orang{
    color:#FD6E0A;
}
.button{
   color: aliceblue;
   background-color: #FD6E0A;
   border: none;
   padding: 18px 35px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
   
}

.section-heading{
    max-width:827px;
    text-align: center;
    
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 35px;

}

.section-heading p{
    font-size: 18px;
    margin-bottom:30px;
    line-height: 30px;
    color: #474747;
}
#about .About-info{
    display: flex;
    justify-content: space-around;
}

.About-info .Info-card p{
    font-size:20px;
    
    line-height:30px;
    color: #474747;
}
.About-info .Info-card h4{
    font-size: 20px;
    
}

header{
    background-color: antiquewhite;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),antiquewhite;
    background-repeat: no-repeat;
    background-position:top left,bottom right ;
}

nav{
    width: 71%;
    max: width 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration:none;
}
nav .manu{
    display: flex;
    list-style: none;
    gap:51px;
    align-items:center;
}

#banner{
    /* border: 1px solid royalblue; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-contant{
    max-width: 585px;
}
#banner .banner-contant h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 5px;
}

#banner .banner-contant h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

#banner .banner-contant p{
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width:585px;
    vertical-align: middle;
}
#about{
    padding: 130px;

}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}