*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* .share styles */
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

 /* .min styles */
 .logo h2{
font-size: 45px;
 }
 .FD6E0A{
    color: #FD6E0A;
    font-weight: 900;
 }

header{
    background-color: #FFF8F3;
    padding: 50px;
    
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .name a{
    font-size: 20px;
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    color: rgb(248, 247, 245);
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size:20px;
    font-weight: 900;
}